<h2>Address form using CSS Grid</h2>
<form>
    <div class="grid-item">
        <label for="firstName" class="first-name">First Name</label>
        <input id="firstName" type="text">
    </div>
    <div class="grid-item">
        <label for="lastName" class="last-name">Last Name</label>
        <input id="lastName" type="text">
    </div>
    <div class="grid-item">
        <label for="job" class="job">job</label>
        <input id="job" type="text">

    </div>
    <div class="grid-item">
        <label for="age" class="age">Age</label>
        <input id="age" type="text">

    </div>
    <div class="grid-item full-width">
        <label for="email" class="email">email</label>
        <input id="email" type="text">

    </div>
    <div class="grid-item full-width">
            <label for="message" class="message">write your message</label>
            <input id="message" type="textarea">
    
    </div>
    
</form>