<mat-toolbar>
    <mat-toolbar-row>
        <span>Reference App for Angular Material</span>
        <button mat-button (click)="router.navigate(['/client']);">Client</button>
        <button mat-button (click)="router.navigate(['/about']);">About</button>
        <button mat-button (click)="router.navigate(['/customcomponent']);">Custom component</button>
        <button mat-button (click)="router.navigate(['/masterdetail']);">Master detail</button>
        <span class="spacer"></span>
        <a routerLink="client">Client</a>
        <a routerLink="address">Address Form</a>
        <a routerLink="about">About</a>
    </mat-toolbar-row>
</mat-toolbar>
