
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Name of the client</mat-hint>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label>Enter your age</mat-label>
        <input matInput placeholder="Age">
        <mat-hint>Age of the client</mat-hint>
    </mat-form-field>
  
    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="City">
        <mat-hint>city of the client</mat-hint>
    </mat-form-field>
  
