table {
    width: 50%;
  }
  tr
  {
    background: yellow;
  }
  .mat-row:hover {
      background: green;
  }
  
  tr.highlighted {
    background: blue;
  }
  

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background: #fff;
  }
